In [ ]:
import numpy as np
import pandas as pd

In [3]:
uci = pd.read_csv('/home/daniel/kit/master-thesis/CFTGNNExplainer/resources/datasets/raw/uci.csv')

In [6]:
uci.head(3)

   item_id  user_id   timestamp  state_label
0        1      523  1084560796            1
1        1      524  1084560848            1
2        2      525  1084560940            1

In [5]:
uci['user_id'] = uci['user_id'] + uci['item_id'].max()

In [14]:
edge_hashes = set()

for index, row in uci.iterrows():
    edge_hashes.add(f'{str(row["item_id"])}-{str(row["user_id"])}')

In [18]:
total_time = uci['timestamp'].max() - uci['timestamp'].min()

In [16]:
len(edge_hashes)

7089

In [19]:
total_time / (24*3600)

164.49195601851852

In [27]:
uci_m = pd.read_csv('/home/daniel/Downloads/UCI-Messages.txt', sep=' ', header=None)
uci_m.columns = ['timestamp', 'item_id', 'user_id', 'weight']
uci_m.head(3)

             timestamp  item_id  user_id  weight
0  2004-03-23 20:11:55        3        3       1
1  2004-03-23 20:12:20        1        1       1
2  2004-03-31 02:20:04       15       15       1

In [31]:
uci_m[uci_m['item_id'] != uci_m['user_id']]

                 timestamp  item_id  user_id  weight
5      2004-04-15 07:56:01        1        2     157
7      2004-04-16 15:50:39        3        4     178
14     2004-04-19 15:39:51        5        2      66
51     2004-04-19 22:40:19        6        7     222
53     2004-04-19 22:42:36        8        7      20
...                    ...      ...      ...     ...
61729  2004-10-26 00:44:08     1899     1847     147
61730  2004-10-26 00:47:16     1899     1097     149
61731  2004-10-26 00:50:03     1899      277      94
61732  2004-10-26 00:51:51     1878     1624     108
61733  2004-10-26 00:52:22     1878     1624     108

[59835 rows x 4 columns]

In [32]:
uci_m[uci_m['item_id'] == uci_m['user_id']]

                 timestamp  item_id  user_id  weight
0      2004-03-23 20:11:55        3        3       1
1      2004-03-23 20:12:20        1        1       1
2      2004-03-31 02:20:04       15       15       1
3      2004-04-07 14:33:48      141      141       1
4      2004-04-15 02:08:31        2        2       1
...                    ...      ...      ...     ...
61475  2004-10-15 21:50:16     1894     1894       1
61614  2004-10-21 21:33:10     1896     1896       1
61621  2004-10-21 22:19:20     1897     1897       1
61635  2004-10-22 01:28:40     1898     1898       1
61669  2004-10-24 15:54:28     1899     1899       1

[1899 rows x 4 columns]

In [36]:
uci_m['timestamp'] = pd.to_datetime(uci_m['timestamp'])

In [40]:
uci_m['timestamp'] = (uci_m['timestamp'].astype(int) / 10**9).astype(int)

In [41]:
uci_m[:25]

     timestamp  item_id  user_id  weight
0   1080072715        3        3       1
1   1080072740        1        1       1
2   1080699604       15       15       1
3   1081348428      141      141       1
4   1081994911        2        2       1
5   1082015761        1        2     157
6   1082119282        4        4       1
7   1082130639        3        4     178
8   1082377129      431      431       1
9   1082377452      473      473       1
10  1082377557       44       44       1
11  1082381972       36       36       1
12  1082383253       34       34       1
13  1082388909        5        5       1
14  1082389191        5        2      66
15  1082389300       63       63       1
16  1082392641      112      112       1
17  1082393398     1327     1327       1
18  1082393521       75       75       1
19  1082394995       27       27       1
20  1082395704       14       14       1
21  1082395845       16       16       1
22  1082395918      129      129       1
23  1082396510       18       18       1
24  1082397249      406      406       1

In [42]:
uci_m = uci_m[uci_m['item_id'] != uci_m['user_id']]

In [44]:
uci_m.to_csv('/home/daniel/kit/master-thesis/CFTGNNExplainer/resources/datasets/raw/ucim.csv')

In [46]:
uci_taining = pd.read_pickle('/home/daniel/kit/master-thesis/cody-evaluation/results/tgn-training/results_uci.pkl')

In [48]:
uci_taining.keys()

dict_keys(['val_aps', 'new_nodes_val_aps', 'test_ap', 'new_node_test_ap', 'epoch_times', 'train_losses', 'total_epoch_times'])

In [49]:
uci_taining['new_node_test_ap']

0.8938697112451554

In [50]:
uci_taining['test_ap']

0.9272188374930473

In [51]:
wiki_training = pd.read_pickle('/home/daniel/kit/master-thesis/cody-evaluation/results/tgn-training/results_wikipedia.pkl')

In [52]:
wiki_training['new_node_test_ap']

0.973941988914462

In [59]:
wiki_training['test_ap']

0.9780435565194797

In [60]:
wiki_training['total_epoch_times']

[99.58801507949829,
 94.23274326324463,
 94.17821097373962,
 94.32015347480774,
 93.76405787467957,
 94.15507698059082,
 93.75787591934204,
 97.66044044494629,
 97.7374427318573,
 94.58496713638306,
 94.48887133598328,
 94.7255072593689,
 94.74099397659302,
 95.08041453361511,
 94.9805896282196,
 95.03062963485718,
 94.82103657722473,
 94.63919878005981,
 94.61425995826721,
 94.75211954116821,
 94.70011830329895,
 94.85819339752197,
 94.75020480155945,
 94.61373782157898,
 94.86755037307739,
 94.85540008544922,
 94.7043833732605,
 93.90622687339783,
 94.32662439346313,
 94.75386357307434]

In [61]:
uci_taining['total_epoch_times']

[26.228251218795776,
 19.88524580001831,
 20.02283215522766,
 19.811626195907593,
 19.84344792366028,
 19.804197549819946,
 19.785263538360596,
 19.820434093475342,
 19.918563842773438,
 19.916786432266235,
 19.887455701828003,
 19.919721841812134,
 19.908917665481567,
 19.90674138069153,
 19.96695852279663,
 20.007367849349976,
 19.94825053215027,
 19.947617053985596,
 19.890585899353027,
 19.215811014175415,
 20.261059522628784,
 20.611409187316895,
 20.467809200286865]